@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css";

/* .p-column-header-content {
  @apply bg-indigo-600 text-white font-bold rounded-full;
} */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
